div#message{
	color: red;
	font-family: Florence, cursive;
}

div{
	font-family: Florence, cursive;
}

p#al{
	color: red;
}

div.bod{
	margin: auto;
	position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px; 
}

div.m
{
  margin: auto;
  position:absolute;
  height: 200px;
  width: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 25%;
  text-align: center;
}

div.connect{
	margin: auto;
	position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px; 
}

input{
	font-family: Florence, cursive;
}

label
{
	margin: auto;
	display: block;
	width: 80px;
	float: left;
	color: orange;
}

body{
	background-image: url(logo);
	background-repeat: repeat;
	background-repeat: repeat;
}

#line{
	text-decoration: underline;
	color:blue;
}

button{
	background-color: white;
	display: inline-block;
	border: 2px solid #008CBA;
	height: 100%;
	width: 100%;
}

button:hover {
    background-color: #4CAF50; 
    color: white;
}

button:active {
  background-color: blue;
  box-shadow: 0 5px yellow;
  transform: translateY(2px);
}

p#line:hover{
	cursor: pointer;
}