input{
	font-family: Florence, cursive;
}

label
{
	margin: auto;
	display: block;
	width: 80px;
	float: left;
	color: orange;
}

div.form{
	margin: auto;
	position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px; 
}

